<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="f8d2cdda-c704-4bd9-bd76-f0739472e583" created="2.6.0" activeEnvironment="Default environment" name="smart-calculator" resourceRoot="${projectDir}" updated="2.6.0" encryptionMode="Not encrypted" compositeProjectFormat="1.3" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="f8d2cdda-c704-4bd9-bd76-f0739472e583fileName">smart-calculator</con:setting>
  </con:settings>
  <con:requirements/>
  <con:properties/>
  <con:wssContainer/>
  <con:databaseConnectionContainer/>
  <con:jmsConnectionContainer/>
  <con:oAuth2ProfileContainer/>
  <con:oAuth1ProfileContainer/>
  <con:eventHandlers type="RequestFilter.filterRequest" name="RequestFilter.filterRequest">
    <con:script>// Sample event script to add custom HTTP header to all outgoing REST, SOAP and HTTP(S) calls
// This code is often used for adding custom authentication to SoapUI Pro tests

// If hardcoding the token, uncomment and change line 5
// def token = '4567'

// If your token is parameterized in Project level custom property, uncomment line 8
// def token = request.parent.testCase.testSuite.project.getProperty('auth_token').getValue()

// To modify all outgoing calls, remove comments from lines 11 to 16
// def headers = request.requestHeaders
// if (headers.containsKey('auth_token2') == false) {
//   headers.put('auth_token2', token)
//   request.requestHeaders = headers
// }</con:script>
  </con:eventHandlers>
  <con:eventHandlers type="TestRunListener.afterStep" name="TestRunListener.afterStep">
    <con:script>// Save all test step results into files
// Change the directory path in line 5 to a location where you want to store details
// then uncomment lines 5 to 10

// filePath = 'C:\\tempOutputDirectory\\'
// fos = new FileOutputStream(filePath + testStepResult.testStep.label + '.txt', true)
// pw = new PrintWriter(fos)
// testStepResult.writeTo(pw)
// pw.close()
// fos.close()</con:script>
  </con:eventHandlers>
  <con:environment id="3df49086-7178-4ae7-b0fe-d483ebe7988b" name="local_dev">
    <con:service type="REST" name="Smartbear Calculator">
      <con:endpoint authProfile="No Authorization">http://34.222.48.79:8050</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="cc97aab8-9e01-400e-99ce-ef4d04ce1b86" name="remote_actual_v1">
    <con:service type="REST" name="Smartbear Calculator">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://34.215.16.155:8050</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="fa27b7ff-e69f-4aab-b5d6-b84d2fdb8a27" name="aws_gateway">
    <con:service type="REST" name="Smartbear Calculator">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://tzks159w5f.execute-api.us-west-2.amazonaws.com/QA</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="0347021d-92b7-47e4-9379-4797d4a703c9" name="remote_actual_v2">
    <con:service type="REST" name="Smartbear Calculator">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://54.191.146.56:8050</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:virtServer>
    <con:name>AWS Host</con:name>
    <con:url>https://34.215.246.30:9090</con:url>
  </con:virtServer>
  <con:authRepository/>
  <con:environmentSpec>
    <con:entry environmentId="0347021d-92b7-47e4-9379-4797d4a703c9">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tags/>
</con:soapui-project>
